body{margin:0;}
.header{
    background-image: url('/images/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    color: #fff;
    font-family: "Antonio", sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    padding: 1.5rem;
}
.menu{
    margin-top: 5px;
    height: 1.8rem;
}
.titulos{
    margin: 20% 6%;
    text-transform: uppercase;
}
h1{
    font-size: 3.7rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    margin: 1rem 0;
}
h3{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    font-weight: 600;
    font-size: 1rem;
}
.btn-consultar{
    background-color: #000;
    color: #fff;
    padding: 7px 50px;
    font-family: "BenchNine", sans-serif;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
}
.btn-consultar:hover{
    background-color: #161616;
}

.quienes-somos{
    background-color: #ECECEC;
    padding: 1rem 6% 11rem 6%;
}

.quienes-somos h1{
    color: #000;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Antonio", sans-serif;
    text-shadow: none;
    font-weight: 700;
    margin: 0;
    padding: 2rem 0 1.5rem 0;
}

.quienes-somos p{
    font-family: "Bellota Text", sans-serif;
    font-size: 1.1rem;
}

p span{
    font-weight: bold;
}

.container {
    position: relative;
    width: 100%;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8rem;
    margin-bottom: 8rem;
}

.foto1, .foto2, .foto3 {
    position: absolute;
    transition: transform 0.3s;
    border-radius: 3px;
}

.foto1 {
    width: 13rem;
    z-index: 1;
    transform: translateX(-4rem);
}

.foto2 {
    width: 10rem;
    z-index: 2;
    transform: translateX(5.5rem);
}

.foto3 {
    width: 11.5rem;
    z-index: 3;
    transform: translateY(6rem);
}
.beneficios{
    padding: 0 6%;
}
.beneficios h1{
    color: #000;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Antonio", sans-serif;
    text-shadow: none;
    font-weight: 700;
}
.beneficios p{
    font-family: "Bellota Text", sans-serif;
    font-size: 1.1rem;
}